.text-container {
    display: flex;
    justify-content: center;
    margin: 20px;
 }
 .text-container p {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background: #000;
    color: #fff;
    padding: 1em;
    margin: 0;
    font-size: 1.1em;
 }

.box{
   display: flex;
   justify-content: center;

   width:100%;
}

#canvas{
  max-width:100%;


    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("decor.png");
     background-size: contain;  
    background-origin: padding-box;
    background-clip: border-box;
   border: 1px solid #000000;
}
